{% extends 'base.html.twig' %}

{% block body %}
    <h2>Connexion</h2>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post">
        {{ form_start(form) }}
            {{ form_row(form.email) }}

            {{ form_row(form.password) }}

            <button type="submit" class="btn btn-primary">Se connecter</button>
        {{ form_end(form) }}
    </form>
{% endblock %}
