{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<div class="wrapper">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="form-container">
            <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
            <div class="form-input">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="email" class="form-control" autocomplete="email" required autofocus>
                <input type="password" name="password" id="inputPassword" placeholder="password" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                <button type="submit">
                    Log in
                </button>
            </div>
            
        </div>
        
    </form>
</div>

{% endblock %}
