<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
    {% block javascript %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% endblock %}


    <div class="background">
        <div class="text-group">
            <div class="text-line">
                <div class="filled">projet</div>
                <div class="light">formation</div>
            </div>
            <div class="text-line">
                <div class="light">moonshot</div>
                <div class="empty">groupe</div>
            </div>
            <div class="text-line">
                <div class="empty">projet</div>
                <div class="filled">moonshot</div>
            </div>
        </div>
    </div>

    <header>
        <div class="user-data">
            {% if app.user %}
                <div class="user-data_icon">
                    {% for role in app.user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                            <span class="material-icons">settings</span>
                        {% elseif role == 'ROLE_STUDENT' %}
                            <span class="material-icons">school</span>
                        {% elseif role == 'ROLE_TEACHER' %}
                            <span class="material-icons">auto_stories</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="user-data_info">
                    <div class="user-data_title">Bonjour {{ app.user.firstname }} {{ app.user.lastname }}</div>
                </div>
            {% else %}
                <h1>Bienvenue</h1>
            {% endif %}
        </div>

        <nav>
            <ul>
                {% if app.user %}
                    <a href="{{ path('home') }}" class="{{ app.request.attributes.get('_route') == 'home' ? 'active' : '' }}">
                        <span class="material-icons">home</span>
                        Home
                    </a>
                    <a href="{{ path('app_profile')}}" class="{{ app.request.attributes.get('_route') == 'app_profile' ? 'active' : '' }}">
                        <span class="material-icons">person</span>
                        Profil
                    </a>
                    <a href="{{ path('app_mail')}}" class="{{ app.request.attributes.get('_route') == 'app_mail' ? 'active' : '' }}">
                        <span class="material-icons">mail_outline</span>
                        Mail
                    </a>
                    <a href="{{ path('app_logout') }}" class="{{ app.request.attributes.get('_route') == 'app_logout' ? 'active' : '' }}">
                        <span class="material-icons">logout</span>
                        Logout
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="{{ app.request.attributes.get('_route') == 'app_login' ? 'active' : '' }}">
                        <span class="material-icons">login</span>
                        Login
                    </a>
                    <a href="{{ path('app_register') }}" class="{{ app.request.attributes.get('_route') == 'app_register' ? 'active' : '' }}">
                        <span class="material-icons">person_add</span>
                        Register
                    </a>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block body %}
    {% endblock %}

    {% block footer %}
    <footer>
        <p>© 2024 Moonshot | Alix, Salvatore, Augustin & Maëlle.</p>
    </footer>
    {% endblock %}
</body>
</html>
