<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    
        <header>
            <div class="user-data">
                {% if app.user %}
                    <h1>Bonjour {{ app.user.firstname }} {{app.user.lastname}}</h1>

                {% else %}
                    <h1>Bienvenue </h1>
                {% endif %}
            </div>

            <nav>
                <ul>                    
                    {% if app.user %}
                        <a href="{{ path('home') }}" class="{{ app.request.attributes.get('_route') == 'home' ? 'active' : '' }}">
                            <span class="material-icons">home</span>
                            Home
                        </a>
                        <a href="{{ path('app_profile')}}" class="{{ app.request.attributes.get('_route') == 'app_profile' ? 'active' : '' }}">
                            <span class="material-icons">person</span>
                            Profil
                        </a>
                        <a href="{{ path('app_mail')}}" class="{{ app.request.attributes.get('_route') == 'app_mail' ? 'active' : '' }}">
                            <span class="material-icons">mail_outline</span>
                            Mail
                        </a>
                        <a href="{{ path('app_logout') }}" class="{{ app.request.attributes.get('_route') == 'app_logout' ? 'active' : '' }}">
                            <span class="material-icons">logout</span>
                            Logout
                        </a>
                    {% else %}
                         <a href="{{ path('app_login') }}" class="{{ app.request.attributes.get('_route') == 'app_login' ? 'active' : '' }}">
                            <span class="material-icons">login</span>
                            Login
                        </a>
                        <a href="{{ path('app_register') }}" class="{{ app.request.attributes.get('_route') == 'app_register' ? 'active' : '' }}">
                            <span class="material-icons">person_add</span>
                            Register
                        </a>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block body %}
        {% endblock %}
        </body>

        {% block footer %}
            <footer>
                <p>© 2024 Moonshot | Alix, Salvatore, Augustin & Maëlle.</p>
            </footer>
        {% endblock %}
</html>
