<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    
        <header>
            <div class="user-data">
                {% if app.user %}
                    <div class="user-info">
                        <div class="role-icon">
                        {% for role in app.user.roles %}
                            {% if role == "ROLE_STUDENT" %}
                            <img src="{{ asset('assets/media/svg/student-role.svg') }}" alt="student role icon">
                            {% elseif role == "ROLE_TEACHER" %}
                            <img src="{{ asset('assets/media/svg/teacher-role.svg') }}" alt="teacher role icon">
                            {% elseif role == "ROLE_ADMIN" %}
                            <img src="{{ asset('assets/media/svg/admin-role.svg') }}" alt="admin role icon">
                            {% endif %}
                        {% endfor %}
                        </div>
                        <h1>Hello {{ app.user.firstname }} {{app.user.lastname}}</h1>
                    </div>
                    <div class="class-data">
                        {% for class in app.user.classId %}
                            <p>{{ class.name }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                    <h1>Bienvenue </h1>
                {% endif %}
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="{{ path('home') }}">
                            <img src="{{ asset('assets/media/svg/home.svg') }}" alt="icon home">home
                        </a>
                    </li>
                    {% if app.user %}
                        <li><a href=""><img src="{{ asset('assets/media/svg/profile.svg') }}" alt="icon profile">profile</a></li>
                        <li><a href=""><img src="{{ asset('assets/media/svg/mail.svg') }}" alt="mail profile">mail</a></li>
                        <li><a href="{{ path('app_logout') }}"><img src="{{ asset('assets/media/svg/logout.svg') }}" alt="icon logout">logout</a></li>
                    {% else %}
                        <li><a href="{{ path('app_register') }}"><img src="{{ asset('assets/media/svg/register.svg') }}" alt="icon register">register</a></li>
                        <li><a href="{{ path('app_login') }}"><img src="{{ asset('assets/media/svg/login.svg') }}" alt="icon login">login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block body %}
        {% endblock %}
        </body>

        {% block footer %}
            <footer>
                <p>© 2024 Moonshot | Alix, Salvatore, Augustin & Maëlle.</p>
            </footer>
        {% endblock %}
</html>
